xml-resources/web-service-references/IBstbAsansorDenetimServis.svc/wsdl/IBstbAsansorDenetimServis.svc.xsd4.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BSTBNET.IcUygulamalar.Server.Contracts.FaultContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/BSTBNET.IcUygulamalar.Server.Contracts.FaultContracts"><xs:complexType name="ServiceException"><xs:sequence><xs:element minOccurs="0" name="DebugInfo" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="ServiceException" nillable="true" type="tns:ServiceException"/></xs:schema>